[Unit]
Description=Automatically resizes the partition to 100% of the available space on the first boot.
DefaultDependencies=no
ConditionPathExists=!@DISABLE_SERVICE_LOCATION@/disable-auto-resize-partition
After=data.mount
Requires=data.mount
Before=systemd-networkd.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/auto-resize-partition.sh
StandardOutput=journal+console
TimeoutSec=0

[Install]
WantedBy=multi-user.target