[Unit]
Description=Automatically resizes the partition to 100% of the available space on the first boot.
DefaultDependencies=no
After=local-fs.target
Before=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/auto-resize-partition.sh
StandardOutput=journal+console
TimeoutSec=0

[Install]
WantedBy=multi-user.target